<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/images/ovms-logo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developers - Online Voting System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="india-theme">
    <nav class="india-nav">
        <div class="nav-brand">
            <div class="ashoka-chakra">⊛</div>
            <div class="logo-text">Developers</div>
        </div>

        <ul>
            <li><a href="/admin">Go Back</a></li>
        </ul>

    </nav>

    <div class="flag-stripe"></div>

    <div class="container">

        <h2 class="team-title">👨‍💻 Development Team</h2>

        <div class="team-grid">

            <div class="team-card">
                <img src="/images/dev1.png" alt="">
                <h3>Sintu Kumar</h3>
                <p style="color: rgb(211, 61, 23);">Roll No: 07</p>
                <p> Backend Developer & Live Hosting</p>

                <div class="team-links">
                    <a href="https://github.com/Sintukrbca" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/sintu-kumar-97813933a" target="_blank"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://sintuprajapati.vercel.app" target="_blank"><i class="fas fa-globe"></i></a>
                </div>
            </div>

            <div class="team-card">
                <img src="/images/dev2.png" alt="">
                <h3>Rahul Kumar</h3>
                <p style="color: rgb(211, 61, 23);">Roll No: 04</p>
                <p>UI/UX Designer</p>
                <div class="team-links">
                    <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fas fa-globe"></i></a>
                </div>
            </div>

            <div class="team-card">
                <img src="/images/dev3.png" alt="">
                <h3>Quaiser Perwez</h3>
                <p style="color: rgb(211, 61, 23);">Roll No: 06</p>
                <p>Frontend Developer</p>

                <div class="team-links">
                    <a href="https://github.com/quaiser-perwez" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="https://www.linkedin.com/in/quaiser-perwez-7b937b1b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
                        target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="https://quaiser-perwez.github.io/quaiser-perwez-portfolio.github.com/" target="_blank"><i
                            class="fas fa-globe"></i></a>
                </div>
            </div>

            <div class="team-card">
                <img src="/images/dev4.png" alt="">
                <h3>Md Gulfam</h3>
                <p style="color: rgb(211, 61, 23);">Roll No: 16</p>
                <p>Database Management</p>
                <div class="team-links">
                    <a href="#" target="_blank"><i class="fab fa-github"></i></a>
                    <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
                    <a href="#" target="_blank"><i class="fas fa-globe"></i></a>
                </div>
            </div>

        </div>

    </div>

</body>

</html>